/* App.css */
.header {
    color: blue;
    font-size: 2rem;
  }
  .cardDesign{
    display: flex;
    justify-content: space-evenly;
  }
  
  .content {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
